name: golangci-lint
on:
  push:
    branches:
      - main
    paths:
      - "scai-gen/**"
  # Want to trigger these tests whenever the Go CLI or
  # APIs are modified
  pull_request:
    paths:
      - "scai-gen/**"
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: '1.22.x'
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        with:
          version: v1.60.3
