name: Test Sigstore integration
on:
  # Want to trigger these tests whenever the Sigstore command
  # is modified and PR is closed and merged.
  # Reason: OIDC token access constraints in PRs
  pull_request:
    paths:
      - "scai-gen/cmd/sigstore.go"
    types:
      - closed

jobs:
  sigstore:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    permissions:
      id-token: write # Needed for signing
    steps:
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: 1.20.x

      - name: Checkout updated scai-gen CLI tools
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Env
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Install scai-gen CLI tools
        shell: bash
        run: |
          go install ./scai-gen

      - name: Sign and upload SCAI report (Sigstore)
        id: sign-report
        uses: ./.github/actions/scai-gen-sigstore
        with:
          statement-name: examples/sbom+slsa/metadata/evidence-collection.scai.json
          attestation-name: evidence-collection.scai.sig.json
